---
layout: default
---
<article class="post mb4" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header mb3">
    <h1 class="h1 h1-responsive post-title mb0" itemprop="name headline">{{ page.title }}</h1>
    <p class="mt0 gray bold post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content mb4" itemprop="articleBody">
    {{ content }}
  </div>

</article>
